<div class="container">
  <div class"post-title"><h1><%= @post.title %></h1></div>
  <div class="post-photo"><img src= '<%= @post.photo_url %>'</div>
  <div class="post-content"><%= @post.content %></div>
</div>
<div class="comments">
  <p> Comments </p>
  <% @comments.each do |comment| %>
  <div><%= comment.content %>
    Posted by:<%= comment.user.name %> on <%= comment.created_at.to_formatted_s(:short)%>
  </div>
  -----------------------------------
  <% end %>
  <div> <form action='/comment/new' method="get">
          <input type="hidden" name="post_id" value="<% @post.id %>">
          <input type="submit" value="add your comment!">
        </form>
  </div>
</div>


